@model IEnumerable<WebApplication3.Models.UserViewModel>

<div class="container mt-5 mb-5">
    <h3 class="text-center text-danger font-monospace font-weight-bold">User Management</h3>

    <table class="table table-sm table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="4" class="text-center">There's no Users</td>
                </tr>
            }
            else
            {
                foreach (var user in Model)
                {
                    <tr>
                        <td>@user.UserName</td>
                        <td>@user.Email</td>
                        <td>@user.Role</td>
                        <td class="text-center">
                            <a class="btn btn-sm btn-primary" asp-controller="Admin" asp-route-id="@user.Id" asp-action="Create">Add Role</a>
                            <a class="btn btn-sm btn-warning" asp-controller="Admin" asp-route-id="@user.Id" asp-action="ShowEdit">Edit</a>
                            <a class="btn btn-sm btn-danger" asp-controller="Admin" asp-route-id="@user.Id" asp-action="RemoveUserRole">Remove Role</a>
                            <form method="post" asp-controller="Admin" asp-action="Delete" asp-route-id="@user.Id">
                                <button type="submit" class="btn btn-sm btn-danger mx-2">Delete User</button>
                            </form>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <a asp-controller="Role" class="btn btn-primary" asp-action="Index">Role Management</a>
</div>
