@model IEnumerable<WebApplication3.Models.Products>
@{
    ViewData["Title"] = "Index";
}
<div class="menuIndex mb-5">
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <h1 class="text-center text-primary">Product List</h1>
                <a class="btn btn-sm btn-primary float-right p-1 m-1 " asp-action="Create" asp-controller="Products">Add Products</a>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr class="tect-center bg-dark text-light">
                            <th class="text-center">Name</th>
                            <th class="text-center">Price</th>
                            <th class="text-center">Description</th>
                            <th class="text-center">Category</th>
                            <th class="text-center">Image</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        @if (Model != null)
                        {
                            @foreach (var p in Model)
                            {

                                <tr>
                                    <td>@p.Name</td>
                                    <td>@p.Price</td>
                                    <td>@p.Discription</td>
                                    <td>@p.Category.CategoryName</td>
                                    <td>
                                        <img src="~/images/@p.Image" height="100px" width="100px" />
                                    </td>
                                    <td>
                                    <td>
                                        <a class="btn btn-sm btn-primary" asp-action="Edit" asp-controller="Products" asp-route-id="@p.Id">Edit</a>
                                        <a class="btn btn-sm btn-primary" asp-action="Delete" asp-controller="Products" asp-route-id="@p.Id">Delete</a>
                                        <a class="btn btn-sm btn-primary" asp-action="Details" asp-controller="Products" asp-route-id="@p.Id">Details</a>
                                    </td>

                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
